<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Controller.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>RemoveHospitalController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>RemoveAvailabilityController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AddAvailabilityController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AddHospitalController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>RemoveDoctorController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AddDoctorController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ViewAllAvailabilitySlotsController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ViewAllAppointmentsController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendHomeController</servlet-name>
        <servlet-class>Controller.SendHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCovidStatsController</servlet-name>
        <servlet-class>Controller.GetCovidStatsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctorController</servlet-name>
        <servlet-class>Controller.AddDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortDoctorController</servlet-name>
        <servlet-class>Controller.SortDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDoctorController</servlet-name>
        <servlet-class>Controller.SearchDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHospitalController</servlet-name>
        <servlet-class>Controller.AddHospitalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllHospitalsController</servlet-name>
        <servlet-class>Controller.ViewAllHospitalsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDoctorController</servlet-name>
        <servlet-class>Controller.RemoveDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectToAddSlotController</servlet-name>
        <servlet-class>Controller.DirectToAddSlotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAvailabilityController</servlet-name>
        <servlet-class>Controller.AddAvailabilityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllAvailabilitySlots</servlet-name>
        <servlet-class>Controller.ViewAllAvailabilitySlots</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllAvailabilitySlotsController</servlet-name>
        <servlet-class>Controller.ViewAllAvailabilitySlotsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveHospitalController</servlet-name>
        <servlet-class>Controller.RemoveHospitalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAvailabilityController</servlet-name>
        <servlet-class>Controller.RemoveAvailabilityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectDoctorController</servlet-name>
        <servlet-class>Controller.SelectDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAvailableSlotsController</servlet-name>
        <servlet-class>Controller.ViewAvailableSlotsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeAppointmentController</servlet-name>
        <servlet-class>Controller.MakeAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyAppointments</servlet-name>
        <servlet-class>Controller.ViewMyAppointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllDoctorsController</servlet-name>
        <servlet-class>Controller.ViewAllDoctorsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyAppointmentsController</servlet-name>
        <servlet-class>Controller.ViewMyAppointmentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllAppointmentsController</servlet-name>
        <servlet-class>Controller.ViewAllAppointmentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortAppointmentsController</servlet-name>
        <servlet-class>Controller.SortAppointmentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendUserHome</servlet-name>
        <servlet-class>Controller.SendUserHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendUserHomeController</servlet-name>
        <servlet-class>Controller.SendUserHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendAdminHomeController</servlet-name>
        <servlet-class>Controller.SendAdminHomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendHomeController</servlet-name>
        <url-pattern>/SendHomeController</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/util/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/util/500.html</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCovidStatsController</servlet-name>
        <url-pattern>/GetCovidStatsController</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded doctor images</description>
        <param-name>file-upload-doctor-image</param-name>
        <param-value>
         D:\practiceCode\Tomcat Server\webapps\myDoc\
      </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>AddDoctorController</servlet-name>
        <url-pattern>/AddDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortDoctorController</servlet-name>
        <url-pattern>/SortDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDoctorController</servlet-name>
        <url-pattern>/SearchDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHospitalController</servlet-name>
        <url-pattern>/AddHospitalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllHospitalsController</servlet-name>
        <url-pattern>/ViewAllHospitalsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDoctorController</servlet-name>
        <url-pattern>/RemoveDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectToAddSlotController</servlet-name>
        <url-pattern>/DirectToAddSlotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAvailabilityController</servlet-name>
        <url-pattern>/AddAvailabilityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllAvailabilitySlotsController</servlet-name>
        <url-pattern>/ViewAllAvailabilitySlotsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveHospitalController</servlet-name>
        <url-pattern>/RemoveHospitalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAvailabilityController</servlet-name>
        <url-pattern>/RemoveAvailabilityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectDoctorController</servlet-name>
        <url-pattern>/SelectDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAvailableSlotsController</servlet-name>
        <url-pattern>/ViewAvailableSlotsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeAppointmentController</servlet-name>
        <url-pattern>/MakeAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllDoctorsController</servlet-name>
        <url-pattern>/ViewAllDoctorsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyAppointmentsController</servlet-name>
        <url-pattern>/ViewMyAppointmentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllAppointmentsController</servlet-name>
        <url-pattern>/ViewAllAppointmentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortAppointmentsController</servlet-name>
        <url-pattern>/SortAppointmentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendUserHomeController</servlet-name>
        <url-pattern>/SendUserHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendAdminHomeController</servlet-name>
        <url-pattern>/SendAdminHomeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>SendHomeController</welcome-file>
    </welcome-file-list>
</web-app>
